body {
    font-family: Georgia, serif;
    text-align: center;
    background: #e0f4ea; /* Light green background */
    color: #333; /* Dark grey for text */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h2 {
    color: #2f6650; /* Dark green heading */
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    max-width: 350px;
    width: 90%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

input {
    width: 90%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 5px;
    border: 1px solid #2f6650; /* Green border */
    font-size: 16px;
}

button {
    width: 95%;
    background: #2f6650; /* Green button */
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 12px 0;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #256347; /* Darker green on hover */
}

